/*--------------------------------------------------------------------------------------
    Global Variables
--------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------
    Functions
--------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------
    Global Style
--------------------------------------------------------------------------------------*/
body {
  width: 100%;
  margin: 0;
}

/*  Header Section
--------------------------------------------------------------------------------------*/
.head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  opacity: 0.8;
  background-color: #1D2228;
}

nav {
  flex: 0.8 0 0;
  order: 2;
  align-self: center;
}
nav button {
  display: none;
}

.nav {
  display: initial;
}
.nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.nav li {
  flex: 1 0 0;
  list-style: none;
}
.nav a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.5vw;
  position: relative;
}
.nav a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.2vw;
  bottom: 0;
  background-color: #fff;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}
.nav a:hover:before {
  width: 100%;
}

header {
  flex: 0 0 100;
  order: 0;
  align-self: center;
}
header h1 {
  margin: 0;
  padding-left: 1.3em;
  font-size: 1.4vw;
  color: #fff;
}

#user-aria {
  order: 3;
  align-self: center;
  padding-right: 2.5em;
}
#user-aria button {
  display: inline-block;
  width: 100px;
  height: 20px;
  padding: 0;
  border: none;
  font-weight: bold;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
#user-aria button:before {
  content: "";
  width: 100%;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: hsla(0deg, 0%, 0%, 0.8);
  transform-origin: center;
  transform: translate3d(0px, -30px, 0px);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}
#user-aria button:hover:before {
  transform: translate3d(0px, 0px, 0px);
}
#user-aria button:hover a {
  color: #fff;
}
#user-aria a {
  display: flex;
  justify-content: center;
  padding: 3px;
  text-decoration: none;
  color: #000;
}

/*  Media Query Section
--------------------------------------------------------------------------------------*/
@media (min-width: 115em) {
  #user-aria button {
    width: 200px;
    height: 50px;
    font-size: 1.5em;
  }
  #user-aria button:before {
    height: 50px;
    transform: translate3d(0px, -50px, 0px);
  }
}
@media (min-width: 130em) {
  #user-aria button {
    width: 200px;
    height: 100px;
    font-size: 3em;
  }
  #user-aria button:before {
    height: 100px;
    transform: translate3d(0px, -100px, 0px);
  }
}
@media (max-width: 30em) {
  #user-aria {
    padding-right: 0.5em;
  }
  #user-aria button {
    height: auto;
    font-size: 0.7em;
  }
  #user-aria button:before {
    height: 30px;
    transform: translate3d(0px, -30px, 0px);
  }
  nav {
    order: 1;
    padding-left: 0.5em;
    flex: 0 0 30px;
  }
  nav button {
    display: block;
    width: 25px;
    border: none;
    border-radius: 10%;
  }
  nav img {
    display: block;
    width: 100%;
    margin: 0;
  }
  .nav {
    display: none;
    position: relative;
  }
  .nav ul {
    width: 150px;
    flex-direction: column;
    position: absolute;
    background-color: hsla(0deg, 0%, 6%, 0.8);
  }
  .nav a {
    justify-content: left;
    font-size: 1em;
  }
  header {
    order: 2;
  }
  header h1 {
    font-size: 1em;
  }
}
/* Picture Slide Section
--------------------------------------------------------------------------------------*/
#slid-wrap {
  display: grid;
  grid-template-columns: repeat(1, 100vw);
  grid-template-rows: repeat(1, 350px);
  background-color: lightcoral;
  overflow: hidden;
}
#slid-wrap div {
  grid-column: 1/1;
  grid-row: 1/1;
  display: flex;
  overflow-x: hidden;
}
#slid-wrap figure {
  margin: 0;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 350px;
  transition-property: margin-left;
  transition-duration: 2s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.5, -0.22, 0.49, 1.38);
}
#slid-wrap img {
  display: block;
  width: 100%;
  height: 350px;
  margin: 0;
  grid-column: 1/1;
  grid-row: 1/1;
}
#slid-wrap figcaption {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  opacity: 0.5;
  color: #fff;
  font-size: 1.5em;
  background-color: #000;
  grid-column: 1/1;
  grid-row: 1/1;
  align-self: center;
}
#slid-wrap #btn-holders {
  grid-column: 1/1;
  grid-row: 1/1;
  align-self: flex-end;
  width: 200px;
  height: 22px;
  margin: 0 auto;
  padding-top: 5px;
  background-color: hsla(0deg, 1%, 15%, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#slid-wrap label {
  width: 13px;
  height: 13px;
  margin-left: 10px;
  border: 2px solid #000;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 2s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
}

/* Teacher Section
--------------------------------------------------------------------------------------*/
#teacher_wrap {
  background-color: gray;
}
#teacher_wrap figure {
  margin: 0;
  background-color: lightgray;
}
#teacher_wrap figure:hover {
  outline: 2px solid #000;
  cursor: pointer;
}
#teacher_wrap .teacher {
  transition-property: margin;
  transition-duration: 0.5s;
  transition-delay: 0s;
  transition-timing-function: ease;
}
#teacher_wrap .teacher:hover {
  margin: -5px 0px 0px -5px;
}
#teacher_wrap img {
  display: block;
  width: 100%;
  margin: 0;
}
#teacher_wrap figcaption {
  margin: 0;
  padding-top: 1em;
  padding-left: 10px;
  font-size: 20px;
}

/*  Media Query Section
--------------------------------------------------------------------------------------*/
@media (min-width: 30em) {
  #teacher_wrap #teacher-card {
    display: grid;
    grid-template-columns: 20em;
    grid-template-rows: repeat(8, auto);
    padding-top: 2em;
    padding-bottom: 2em;
    justify-content: center;
    grid-gap: 1em;
  }
  #teacher_wrap #teacher-card div:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
  }
  #teacher_wrap #teacher-card div:nth-of-type(2) {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
  }
  #teacher_wrap #teacher-card div:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 3/4;
    width: 100%;
  }
  #teacher_wrap #teacher-card div:nth-of-type(4) {
    grid-column: 1/2;
    grid-row: 4/5;
    width: 100%;
  }
  #teacher_wrap #teacher-card div:nth-of-type(5) {
    grid-column: 1/2;
    grid-row: 5/6;
    width: 100%;
  }
  #teacher_wrap #teacher-card div:nth-of-type(6) {
    grid-column: 1/2;
    grid-row: 6/7;
    width: 100%;
  }
  #teacher_wrap #teacher-card div:nth-of-type(7) {
    grid-column: 1/2;
    grid-row: 7/8;
    width: 100%;
  }
  #teacher_wrap #teacher-card div:nth-of-type(8) {
    grid-column: 1/2;
    grid-row: 8/9;
    width: 100%;
  }
}
@media (min-width: 40em) {
  #teacher_wrap #teacher-card {
    grid-template-columns: repeat(2, 20em);
    grid-template-rows: repeat(4, auto);
  }
  #teacher_wrap #teacher-card div:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #teacher_wrap #teacher-card div:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #teacher_wrap #teacher-card div:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #teacher_wrap #teacher-card div:nth-of-type(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #teacher_wrap #teacher-card div:nth-of-type(5) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  #teacher_wrap #teacher-card div:nth-of-type(6) {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  #teacher_wrap #teacher-card div:nth-of-type(7) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  #teacher_wrap #teacher-card div:nth-of-type(8) {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}
@media (min-width: 70em) {
  #teacher_wrap #teacher-card {
    display: grid;
    padding-top: 2em;
    padding-bottom: 2em;
    grid-template-columns: repeat(4, minmax(15em, 20em));
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    grid-gap: 1em;
  }
  #teacher_wrap #teacher-card div:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #teacher_wrap #teacher-card div:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #teacher_wrap #teacher-card div:nth-of-type(3) {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  #teacher_wrap #teacher-card div:nth-of-type(4) {
    grid-column: 4/5;
    grid-row: 1/2;
  }
  #teacher_wrap #teacher-card div:nth-of-type(5) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #teacher_wrap #teacher-card div:nth-of-type(6) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #teacher_wrap #teacher-card div:nth-of-type(7) {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  #teacher_wrap #teacher-card div:nth-of-type(8) {
    grid-column: 4/5;
    grid-row: 2/3;
  }
}
main {
  background-color: lightgray;
}

/* Footer Section
--------------------------------------------------------------------------------------*/
footer {
  background-color: hsla(0deg, 0%, 0%, 0.3);
}
footer #footer-wrap {
  display: grid;
  grid-template-columns: repeat(4, 5em);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  grid-row-gap: 1em;
  padding-top: 1em;
}
footer figure {
  width: 50px;
  margin: 0 auto;
}
footer img {
  display: block;
  width: 100%;
  margin: 0;
}
footer figure:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}
footer figure:nth-of-type(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}
footer figure:nth-of-type(3) {
  grid-column: 3/4;
  grid-row: 1/2;
}
footer figure:nth-of-type(4) {
  grid-column: 4/5;
  grid-row: 1/2;
}
footer div {
  grid-column: 1/5;
  grid-row: 2/3;
}
footer div p {
  font-size: 1.5em;
  margin: 0;
  text-align: center;
}
footer a {
  display: flex;
}
/*# sourceMappingURL=stylesheet_home.css.map */